<h2 mat-dialog-title>Tax Invoice</h2>
<mat-dialog-content class="mat-typography" *ngIf="true">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12">
              @defer (on timer(100ms)) {
                <mat-form-field class="w-100">
                  <mat-label>Select Customer</mat-label>
                  <mat-select formControlName="customer">
                    <mat-option *ngFor="let option of customers" [value]="option._id">
                      {{ option.customerName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              }
              
            </div>
           <div class="col-12">

              <div formArrayName="multiple">
                <div class="row" *ngFor="let item of form.get('multiple').controls; let i = index" [formGroupName]="i">
                  <div class="col-5">
                    <mat-form-field class="w-100">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="Customer Email" formControlName="description" >
                      </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field class="w-100">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date" formControlName="fromDate" >
                        <input matEndDate placeholder="End date" formControlName="endDate" >
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field class="w-100">
                      <mat-label>Amount</mat-label>
                      <input matInput placeholder="Customer Email" formControlName="amt">
                    </mat-form-field>
                </div>
                <div class="col-1">
                  <button mat-icon-button color="warn" (click)="removeFormGroup(i)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                </div>
              </div>


              <div class="row">
                <div class="col-1 offset-md-11">
                  <button type="button" class="text-end" mat-icon-button color="primary" (click)="addBillItem()">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
           </div>
            <div class="col-12">
                <mat-form-field class="w-100">
                    <mat-label>Sub Total</mat-label>
                    <input matInput placeholder="Total"  formControlName="subtotal">
                  </mat-form-field>
            </div>
    
             
            <div class="col-12">
                <mat-form-field class="w-100">
                    <mat-label>CGST</mat-label>
                    <input matInput placeholder="CGST"  formControlName="cgst">
                  </mat-form-field>
            </div>
        
    
            <div class="col-12">
                <mat-form-field class="w-100">
                    <mat-label>SGST</mat-label>
                    <input matInput placeholder="SGST"  formControlName="sgst">
                  </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="w-100">
                    <mat-label>Total Amount</mat-label>
                    <input matInput placeholder="Total Amount"  formControlName="totalAmount">
                  </mat-form-field>
            </div>
        </div>

        <mat-dialog-actions align="end">
          <button mat-flat-button color="primary" type="submit">Submit</button>
        <button mat-flat-button color="warn" mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
        
      </form>
</mat-dialog-content>




